@media (min-width: 320px) and (max-width: 480px) {#MC {display: none;}}

#menu {list-style: none; display: flex;
background-color: black; color: red;}
#menu li {padding: 15px; font-size: large; text-align: center;
    justify-items: space-between; display: flex; align-items: center;}

#container {display: flex; flex-direction: column;}

#years {display: flex; flex-direction: column; align-items: center; 
background-color: black; color: red;}
#news {display: flex; flex-direction: column; align-items: center;
background-color: black; color: red;}
#band {display: flex; flex-direction: column; align-items: center;
background-color: black; color: red;}